body {
	background: white; /* For browsers that do not support gradients */
	background: -webkit-radial-gradient(white, lightgray); /* Safari 5.1 to 6.0 */
	background: -o-radial-gradient(white, lightgray); /* For Opera 11.6 to 12.0 */
	background: -moz-radial-gradient(white, lightgray); /* For Firefox 3.6 to 15 */
	background: radial-gradient(white, lightgray); /* Standard syntax */
}

/* title */
.reveal section.title h1 {
	width: 100%;
	font-size: 1.5em;
}

.reveal section.title h2 {
	width: 100%;
	font-size: 1.3em;
}

.reveal section.title code {
	color: #037;
}

/* custom slides */
.reveal h4 {
	text-transform: uppercase;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
}

.reveal section.slide {
	height: 100%;
	display: table;
	text-align: left;
}

.reveal section.slide h3 {
	width: 100%;
	text-align: left;
	border-bottom: 2px solid #0077BD;
}

/* fragment strike through */
.reveal .slides section .fragment.ss {
	text-decoration: line-through;
}
.reveal .slides section .fragment.ss.current-fragment {
	text-decoration: none;
}

/* code highlight */
.reveal code {
	font-family: Consolas, monospace;
}

.reveal .slides section .fragment.hl-code {
    opacity: 1;
    visibility: inherit;
}
.reveal .slides section .fragment.hl-code.visible.persist {
    font-weight: bold;
    background-color: lightgray;
}
.reveal .slides section .fragment.hl-code.current-fragment {
    font-weight: bold;
    background-color: lightgray;
}
.reveal .slides section .hl-code-i {
    font-weight: bold;
    background-color: lightgray;
}

.reveal .slides section .fragment.red-code {
    opacity: 1;
    visibility: inherit;
}
.reveal .slides section .red-code.visible {
	font-weight: bold;
	background-color: lightcoral;
}

/* other code */
.reveal pre code {
    max-height: 80%;
}

.reveal section code.cinline {
	color: #003377;
}

.reveal section code.finline {
	color: #DF5000;
}

.reveal pre.ticks {
	background: white;
}

/* other */
.reveal section img {
	background: white;
}

.reveal section img.diagram
{
	border: none;
	background: none;
	box-shadow: none;
	margin: 0;
}

.reveal section img.ui-diagram
{
	border: none;
	background: none;
	box-shadow: none;
	height: 500px;
}

.reveal section .inline {
	display: inline-block;
}

.reveal section span.tiny {
	font-size: 0.5em;
}

.reveal section span.fancy {
	font-weight: bold;
	color: #DF5000;
}

.reveal section p.pinner
{
	text-align: center;
}

.reveal section li.pro {
	color: darkgreen;
}
.reveal section li.pro::marker {
	content: '✔  ';
}

.reveal section li.con {
	color: darkred;
}
.reveal section li.con::marker {
	content: '✖  ';
}

/* last slide */
.reveal section.fin {
	font-size: 0.8em;
}

.reveal section.fin h2 {
	width: 100%;
	font-size: 4em;
}

.reveal section.fin h3 {
	width: 100%;
	font-size: 3em;
}
