html, body {
    height: 100%;
}

body {
    color: #808080;
    background: url(../img/home-bg.jpg) no-repeat center top fixed;
	background-size: cover;
    font-family: Verdana, DejaVu Sans, Tahoma, sans-serif;
    font-size: 12px;
    line-height: 1.8;
    margin: 0;
}

header {
	height: 20vh;
}

@media only screen and (orientation: portrait) {
    header {
        height: 10vh;
    }
}

.homepage-content {
	width: 100%;
	background: linear-gradient(to right, #030711, #1b1c1f);
	padding: 2vh 0;
    text-align: center;
}

.homepage-links {
    display: inline-block;
}

.homepage-links a {
    display: block;
    margin: 1vh 0;
}

.homepage-links img.logo-link {
    filter: brightness(0.6);
    height: 4.5vh;
}

.homepage-links img.logo-link:hover {
    filter: brightness(0.8);
}

img.homepage-portrait {
	margin-left: 2vw;
    height: 25vh;
    display: inline-block;
}

.homepage-text {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    font-family: Consolas, monaco, monospace;
    font-size: 5vh;
    margin-left: 2vw;
}

.homepage-text p {
    margin: 0;
}

nav {
    background: none;
    font-family: Consolas, monaco, monospace;
    font-size: 3vh;
    background: linear-gradient(to bottom, #d0d0d0, #c0c0c0);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    display: inline-block;
}

nav li a {
    padding-left: 1vw;
    padding-right: 1vw;
    text-decoration: none;
    color: rgb(13, 83, 175);
}

nav li:hover {
    background-color: #1b1c1f;
}

nav li:hover a {
    color: #d0d0d0;
}

nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #1b1c1f;
    min-width: 4em;
    box-shadow: 0px 2px 4px 4px rgba(208,208,208,0.3);
    z-index: 1;
}

nav .dropdown:hover .dropdown-content {
    display: block;
}

nav .dropdown-content a {
    padding-left: 2vw;
    padding-right: 2vw;
    display: block;
    text-align: left;
}

nav .dropdown-content a:hover {
    background-color: #3b3c3f;
}

footer {
    width: 100%;
    background: none;
}