/* fixes for cyrillic */
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: Impact, sans-serif;
}

.reveal section.slide
{
	height: 100%;
	display: table;
	text-align: left;
}

.reveal section.islide
{
	height: 100%;
	display: table;
}

.reveal section.slide h3 {
	width: 100%;
	text-align: left;
	border-bottom: 1px solid #000;
}

.reveal section.slide li {
	margin-left: 1em;
}

.reveal section.slide h4
{
	margin-top: 0.5em;
}

.reveal section img.diagram
{
	border: none;
	background: none;
	box-shadow: none;
}

.reveal section img
{
	background-color: white;
}
