@import url('https://fonts.googleapis.com/css?family=Comfortaa');

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: Comfortaa, cursive;
  text-transform: none;
}

.title {
	text-align: left;
	height: 100%;
}

.title .content {
	background-color: white;
	width: 140%;
	margin-left: -20%;
	position: absolute;
	bottom: 0;
	left: 0;
	padding-top: 30px;
	padding-left: 20%;
}

.title h1 {
	padding-top: 10px;
	font-size: 1.6em;
}
.title h2 {
	margin-top: 40px;
	font-size: 1.2em;
}

.title .logo {
	border: none;
	border-right: 8px solid #8BC741;
	float: left;
	box-shadow: none;
	margin: 0;
	margin-right: 12px;
}


.reveal a:not(.image) {
  text-decoration: none;
}

.reveal a:not(.image):hover {
  text-shadow: none;
  border: none;
}

.reveal section
{
	color: #434343;
	font-size: 1.2em;
    font-family: Comfortaa, cursive;
}

.reveal section.slide
{
	height: 100%;
	display: table;
	text-align: left;
	padding-left: 10%;
	line-height: 1.6em;
}

.reveal section.islide
{
	height: 100%;
	display: table;
}

.reveal section.slide h3 {
	width: 100%;
	text-align: left;
	border-left: 8px solid #8BC741;
	padding-left: 30px;
	padding-top: 10px;
	font-weight: bold;
	margin-bottom: 1em;
}

.reveal section.slide ul {
	list-style-type: none;
}

.reveal section.slide h4
{
	margin-top: 0.5em;
}

.reveal .portrait
{
	position: absolute;
	bottom: 2em;
}

.reveal section img.diagram
{
	border: none;
	background: none;
	display: block;
	box-shadow: none;
	margin-left: 150px;
}

.reveal section img
{
	background-color: white;
}

.reveal section img.showcase
{
	height: 100vh;
	width: auto;
	border: none;
	box-shadow: none;
}

.reveal section span.fancy
{
	/*font-style: italic;*/
	font-weight: bold;
	color: #509EA2;
}

.reveal code
{
	font-family: Consolas, monaco, monospace;
}

.reveal section code.inline
{
}

.reveal pre
{
	margin-left: 0;
	margin-right: 0;
}

.reveal pre code
{
    max-height: 80%;
	font-size: 1.5em;
	line-height: 1em;
}

.reveal .inter h2
{
	color: white;
	font-size: 4em;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}


.reveal .fin
{
	padding-top: 3em;
	color: white;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.reveal .fin h1

{
	color: white;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.reveal .fin a
{
	color: #333;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

.reveal .fin a:hover
{
	color: #999;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

.reveal canvas.webgl
{
	/*background-color: #ccf;*/
	width: 1200px;
	height: 768px;
	margin-left: 150px;
}

.reveal .cue
{
	display: none;
}