<nav class="social-icons">
  <ul>
    <!-- GitHub -->
    <li>
      <a href="https://www.github.com/iboB" title="iboB on GitHub" target="_blank">
        <i class="icon icon-social-github"></i>
        <span class="label">GitHub</span>
      </a>
    </li>
    <!-- Twitter -->
    <li>
      <a href="http://twitter.com/stanimirovb" title="@stanimirovb on Twitter" target="_blank">
        <i class="icon icon-social-twitter"></i>
        <span class="label">Twitter</span>
      </a>
    </li>
    <!-- LinkedIn -->
    <li>
      <a href="https://www.linkedin.com/in/borislavstanimirov" title="borislavstanimirov on LinkedIn" target="_blank">
        <i class="icon icon-social-linkedin"></i>
        <span class="label">LinkedIn</span>
      </a>
    </li>
    <!-- Facebook -->
    <li>
      <a href="http://fb.me/natc.ibob" title="natc.ibob on Facebook" target="_blank">
        <i class="icon icon-social-facebook"></i>
        <span class="label">Facebook</span>
      </a>
    </li>
    <!-- Feed -->
    <li>
      <a href="/feed.xml" title="iboB blog feed" target="_blank">
        <i class="icon icon-rss"></i>
        <span class="label">Feed</span>
      </a>
    </li>
  </ul>
</nav>
