.reveal section
{
    font-family: Verdana, "DejaVu Sans", sans-serif;
	font-size: 36px;
}

.reveal section.title
{
	width: 100%;
	background: rgba(17, 17, 17, 0.9);
}

.reveal section.slide
{
	height: 100%;
	display: table;
	text-align: left;
}

.reveal section.islide
{
	height: 100%;
	display: table;
}

.reveal section.slide h3 {
	width: 100%;
	text-align: left;
	border-bottom: 1px solid #e42;
}


.reveal section.slide li {
	margin-left: 1em;
}

.reveal section.slide h4
{
	margin-top: 0.5em;
}

.reveal section img.diagram
{
	border: none;
	background: none;
	box-shadow: none;
}

/*.reveal section img
{
	background-color: white;
}*/

.reveal section span.fancy
{
	font-weight: 600;
	color: #e42;
}

.reveal section span.yes
{
    font-weight: bold;
	color: #00ff00;
}

.reveal section span.no
{
    font-weight: bold;
	color: #ff0000;
}

.reveal code
{
	font-family: Consolas, monaco, monospace;
}

.reveal section code.inline
{
	color: #e42;
}

.reveal pre
{
	font-size: 0.75em;
}

.reveal pre code
{
    max-height: 80%;
}