// colors
$color-lighter: #dedede;
$color-light  : #696969;
$color-dark   : #393939;
$color-darker : #272727;
$color-text   : #222;
$color-link   : #069;
$bg-border-col: #b2d2e1;

// fonts
$mainfont: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

// others
$bradius: 8px;

// media queries
$media-narrow : "print, screen and (max-width: 740px)";
$media-short  : "only screen and(max-height: 450px)";

// other macros
$shadow-nav: "0 1px 0 rgba(255, 255, 255, 0.9)";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,600italic,300,600);

// Reset some basic elements
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: $color-link;
}

a:hover {
  text-decoration: underline;
}

.toppad {
  height: 100px;
  background: none;

  @media #{$media-narrow} {
    height: 70px;
  }

  @media #{$media-short} {
    height: 70px;
  }
}

.nav-trigger {
  display: none;
}

.clearfix {
  display: block;
  clear: both;
}

.bulgarian {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@import "foundation-icons"
