.reveal .title h1 {
  font-size: 3em;
}

.reveal section img.diagram {
  border: none;
  background: none;
  box-shadow: none;
}

.reveal .blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
