---
layout: site-base
---
<main class="blog">
  {% include blog-nav.html %}
  <h1>Posts:</h1>
  {% for post in site.posts %}
    <section>
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      <div class="post-info">
        <div class="date">{{ post.date | date: "%b %d, %Y"}}</div>
        <div class="category">{{ post.category }}</div>
        <div class="read-time">{% include read-time.html content=post.content %}</div>
        <div class="excerpt">{{ post.excerpt }}</div>
      </div>
    </section>
  {% endfor %}
</main>
